.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

header {
    max-width: inherit;
    width: inherit;
    width: 100%;
    background: #262626;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%)
}

.headdiv {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

.headtext {
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}

.headtext1 {
    font-weight: 600;
    font-size: 24px;
    color: #DCB47A;
}

.headtext2 {
    padding-left: 68px;
    padding-right: 68px;
}

.headtext3 {
    padding-right: 68px;
}

.i1 {
    width: 32px;
    height: 36px;
    color: #FFFFFF;
    display: flex;
    padding-left: 705px;
}

.section {
    width: 100%;
    height: 1080px;
    padding-top: 130px;
    position: relative;
}

.secttion1img {
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%)
}

.sec1title {
    font-weight: 700;
    font-size: 82px;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sec1text {
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    position: absolute;
    width: 470px;
    height: 60px;
    left: 800px;
    top: 650px;
}

.sec1button {
    position: absolute;
    width: 463px;
    height: 71px;
    left: 800px;
    top: 850px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
}

.buttontext {
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    padding-top: 20px;
    padding-left: 30px;
}

.i2 {
    color: #FFFFFF;
    padding-top: 25px;
    padding-right: 30px;
}